<a href="https://colab.research.google.com/github/MattyTooGenerous/python-project-/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

# Python Functions

def add(num1, num2):
    return num1 + num2

print(add(3, 4))
sum = add(3,4)
print(sum)
print(add(12, 2332))
print(add(2123, 233223))


#Lists and Loops
fruits = ["apple", "banana", "cherry"]
print(fruits)
print(fruits[0])
print(fruits[1])
print(fruits[2])

list_length = len(fruits)
print("the length of the fruits array is = ", list_length)
# len(name of the list) this gives you the length of the list

for i in fruits:
    # fruit 1 = apple
    # fruit 2 = banana
    # fruit 3 = cherry

    print('fruit = ', i)

    # Dictonary
person1 = {"name": "John", "age": 25, "employed": True, "marks": [90, 80, 70]}
print(person1)
print(person1["name"])
print(person1["age"])
print(person1["employed"])
print(person1["marks"])
print(person1["marks"][0])
print(person1["marks"][1])
print(person1["marks"][2])

# key - vaue pairs
# key = name, value = John

In [5]:
num1 = int(input("enter number 1"))
num2 = int(input("enter number 2"))
print(num1)
print(num2)
def times(num1, num2):
  return num1 * num2

print(times(3,4))
print(times(4,6))
print(times(2,5))

BikeInfo = {"colour": "black", "year": 2019, "Model": "Suzuki"}
print(BikeInfo)
print(BikeInfo["colour"])
print(BikeInfo["year"])
print(BikeInfo["Model"])

enter number 12
enter number 22
2
2
12
24
10
{'colour': 'black', 'year': 2019, 'Model': 'Suzuki'}
black
2019
Suzuki